main{
    padding: 20px;
}
.game-snippet{
    text-align: center;
}
.game-btn{
    margin: 0 5px;
}
.room{
    background-image: url("./img/table-bg.png");
    background-size: cover;
}
.table-board{
    width: 160px;
    height: 160px;
    margin: 20px;
    background-size: cover;
}
.table-item{
    width: 200px;
    height: 200px;
    float: left;
    margin: 25px;
    position: relative;
}
.table-seat{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -25px;
}
.seat-top{
    top: -25px;
    left: 50%;
}
.seat-bottom{
    left: 50%;
    bottom: -25px;
}
